    <div class="card mb-4">
        <div>{{this.name}}</div>
        <div> <a href="/companies/{{this._id}}"> {{this.code}}</a></div>
        <div><img src="{{this.image}}" alt=""></div>
        <div>{{this.money}}</div>
        <div>{{this.description}}</div>
        <button class="btn btn-danger"> <a href="{{this.code}}">DELETE</a></button>
    </div>